.qr {
  width: 500px;
  height: 500px;
  width: 450px;
  height: 450px;
  margin: auto;
  width: 50%;
  border: 3px solid rgb(19, 134, 216);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont{
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
